# Modelamiento de datos Semana 3

# Paises

Empezar√©mos importando las librer√≠as necesarias

In [ ]:
import pandas as pd 
import sys
import numpy as np
import re

Ahora cargamos la abse de datos en un dataframe

In [ ]:
df = pd.read_csv ('Salaries.csv')

Creamos la funci√≥n remover para borrar caracteres innecesarios, quitar espacios y convertir todo a minuscula

In [ ]:
def remover(x):
  x=x.strip()
  x=x.lower()
  array=[' ','.',',',';', '/', '(', ')', '$','-', '+', '>', '<', '*', 'x', '‚Äú']
  for i in range(len(array)):
    x=x.replace(array[i],'')
  x = re.sub(r'[0-9]+', '', x)
  return x

Aplicamos la funci√≥n en la columna pa√≠s

In [ ]:
df['Country'] = df['Country'].apply(remover)

Empezamos a agrupar por los pa√≠ses con mayores registros

### USA

In [ ]:
array_usa_1=df['Country'][df['Country'].str.contains('usa|stat|ame|uniteds|usd|üá∫üá∏|uxz|california')].unique()
array_usa_2=df['Country'][(df['Country'].str.contains('us')==True) & (df['Country'].str.contains('ust')==False) & 
              (df['Country'].str.contains('rus')==False)].unique()
df['Country']=df['Country'].replace(np.append(array_usa_1,array_usa_2), 'usa')

### UK

In [ ]:
array_uk_1=df['Country'][df['Country'].str.contains('uk|unitedk|unitesk|unitedy|britain|wales|northernireland|eng|scotland')
& (df['Country'].str.contains('ukra')==False)].unique()
df['Country']=df['Country'].replace(array_uk_1, 'uk')

### New Zealand

In [ ]:
array_nz_1=df['Country'][df['Country'].str.contains('newzealand')].unique()
df['Country']=df['Country'].replace(array_nz_1, 'new zealand')

### Argentina

In [ ]:
array_arg_1=df['Country'][df['Country'].str.contains('arge')].unique()
df['Country']=df['Country'].replace(array_arg_1, 'argentina')

### Australia

In [ ]:
array_au_1=df['Country'][df['Country'].str.contains('austra')].unique()
df['Country']=df['Country'].replace(array_au_1, 'australia')

### Austria

In [ ]:
array_aus_1=df['Country'][df['Country'].str.contains('austri')].unique()
df['Country']=df['Country'].replace(array_aus_1, 'austria')

### Canada

In [ ]:
array_can_1=df['Country'][df['Country'].str.contains('can|csnada')].unique()
df['Country']=df['Country'].replace(array_can_1, 'canada')

### Brazil

In [ ]:
array_bra_1=df['Country'][df['Country'].str.contains('bra')].unique()
df['Country']=df['Country'].replace(array_bra_1, 'brazil')

### Denmark

In [ ]:
array_den_1=df['Country'][df['Country'].str.contains('mark')].unique()
df['Country']=df['Country'].replace(array_den_1, 'denmark')

### Netherlands

In [ ]:
array_ned_1=df['Country'][df['Country'].str.contains('nl|netherlands|thenetherlands|ned')].unique()
df['Country']=df['Country'].replace(array_ned_1, 'netherlands')

## Eliminar registros con caracteres muy largos

In [ ]:
arreglo=[]
for i in range(len(df['Country'])):
  if len(df['Country'][i])>=20:
    arreglo.append(i)
df.drop(arreglo,axis=0, inplace=True)
df = df.reset_index(drop=True)

In [ ]:
df.groupby(['Country']).size().reset_index(name='Cantidad de paises')

         Country  Cantidad de paises
0    afghanistan                   1
1         africa                   1
2      argentina                   6
3      australia                 384
4        austria                  18
..           ...                 ...
112           uz                   1
113      vietnam                   2
114     virginia                   1
115            y                   1
116     zimbabwe                   2

[117 rows x 2 columns]

# Ciudades

Como las datos de ciudades son mayores, usamos la librer√≠a itertools para agrupar elementos que sean similares en los primeros 3 caracteres en su cadena.

In [ ]:
df['City'] = df['City'].apply(str)

In [ ]:
df['City'] = df['City'].apply(remover)

In [ ]:
from itertools import groupby
list_things = df['City']
sorted_list = sorted(list_things, key = lambda x: x[0:3])

c = groupby(sorted_list, key=lambda x: x[0:3])
dic = {}
for k, v in c:
    dic[k] = list(v)

In [ ]:
for i in dic.values():
  df['City']=df['City'].replace(i, i[0])

In [ ]:
arreglo2=[]
for i in range(len(df['City'])):
  if len(df['City'][i])>=20:
    arreglo2.append(i)
df.drop(arreglo2,axis=0, inplace=True)
df = df.reset_index(drop=True)

In [ ]:
df.groupby(['City']).size().reset_index(name='Cantidad de ciudades')

            City  Cantidad de ciudades
0                                   35
1         aachen                     1
2     abbotsford                     3
3       aberdeen                    19
4     abingtonpa                     6
...          ...                   ...
1031        zion                     1
1032         zug                     1
1033      zurich                    11
1034      zwolle                     3
1035      z√ºrich                     5

[1036 rows x 2 columns]

In [ ]:
arreglo3=[]
for i in range(len(df['City'])):
  if len(df['City'][i])>=20:
    arreglo3.append(i)
df.drop(arreglo3,axis=0, inplace=True)
df = df.reset_index(drop=True)

# Eliminar datos innecesarios

In [ ]:
arreglo4=[]
for i in range(len(df['Currency'])):
  if df['Currency'][i]=='Other':
    arreglo4.append(i)
df.drop(arreglo4,axis=0, inplace=True)
df = df.reset_index(drop=True)

In [ ]:
df.drop(['Currency - other'], axis=1, inplace=True)

# Exportar

In [ ]:
df.to_csv('salaries_2.csv', index=False)